<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingTesterAluminium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AmbraPing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PingTesterAluminium.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BufferLength" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Ttl" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="DontFragment" serializeAs="String">
                <value>False</value>
            </setting>
        </PingTesterAluminium.Properties.Settings>
        <AmbraPing.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>0</value>
            </setting>
        </AmbraPing.Properties.Settings>
    </userSettings>
</configuration>